body {
    background-color: #EAECED;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-image {
    width: 40%;
    height: 400px;
    object-fit: contain;
    object-position: right;
}
        
.right-column {
    width: 60%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
            
.title {
    font-size: 70px;
    font-weight: 600;
    color: #353E49;
    margin: 0;
}
            
.main-description {
    font-size: 20px;
    font-weight: bold;
    color: #686F88;
    line-height: 1.3em;
}
            
.secondary-description {
    font-size: 12px;
    color: grey; 
    margin-top: 40px; 
}

.btn {
    display: inline-block;
    background-color: #686F88;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
 }